
<title>Login Form Design</title>
<link rel = "stylesheet" type= "text/css" href= "ajout-chien.component.css">
<body>
<div class="loginbox">
  <h1>Ajouter une balade</h1>
  <form>
    <p>Balade</p>
    <input type="text" name="" placeholder="intituler votre balade">
    <p>Adresse</p>
    <input type="text" name="" placeholder="adresse">
    <p>Description</p>
    <input type="text" name="" placeholder="description">
    <p>Siteweb</p>
    <input type="text" name="" placeholder="site web">
    <p>Difficulte</p>
    <input type="text" name="" placeholder="difficulté de 1 à 5">
    <p>Horaires</p>
    <input type="text" name="" placeholder="horaires">
    <p>Score</p>
    <input type="text" name="" placeholder="score de 1 à 5">

    <input type="submit" name="" value="Ajouter">

  </form>

</div>

</body>


