<h2>Liste des messages !</h2>

<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Content</th>
            <th>idRecipient</th>
            <th>idSender</th>
            <th>Object</th>

            <th>Add a new message</th>
            <th>Cancel</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages; let index = index;">

            <td>{{message.id}}</td>
            <td>{{message.content}}</td>
            <td>{{message.idRecipient}}</td>
            <td>{{message.idSender}}</td>
            <td>{{message.object}}</td>

            <td>
                <button (click)="delete(message, index)">Cancel</button>
            </td>
            <td>
                <button (click)="update(message)">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
