<h2>Création de Messages !</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
        <legend>Nouveau message</legend>
        <div>
            <textarea formControlName="content"
                      rows="5" cols="200"
                      placeholder="Insérer un message">
            </textarea>
        </div>
        <div>
            <label> Destinataire :
                <input type="number" min= 0 formControlName="idRecipient">
            </label>
        </div>
        <div>
            <label> Expéditeur :
                <input type="number" min= 0 formControlName="idSender">
            </label>
        </div>
        <div>
            <label> Objet :
                <input type="text" formControlName="object">
            </label>
        </div>
        <input type="submit" [disabled]="form.invalid">
    </fieldset>
</form>
