<h2>Liste des messages !</h2>

<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Description</th>
            <th>Destinataire</th>
            <th>Expéditeur</th>
            <th>Objet</th>

            <th>Modifier</th>
            <th>Annuler</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages; let index = index;">

            <td>{{message.id}}</td>
            <td>{{message.content}}</td>
            <td>{{message.idRecipient}}</td>
            <td>{{message.idSender}}</td>
            <td>{{message.object}}</td>

            <td>
                <button (click)="update(message)">Modifier</button>
            </td>
            <td>
                <button (click)="delete(message, index)">Annuler</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
