<h2>Ajoutez un nouveau chien</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
    <label>Nom :
        <input type="text" formControlName="nameDog">
    </label>
    </div>
    <div>
    <label>Race :
        <input type="text" formControlName="raceDog">
    </label>
    </div>
    <div>
    <label>Date de naissance :
        <input type="text" formControlName="dateOfBirth">
    </label>
    </div>

    <input type="submit" [disabled]="form.invalid" >
</form>
<p *ngIf="error">{{ error }}</p>

