<h2>Rides</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name of the Ride</th>
        <th>Place</th>
        <th>Description</th>
        <th>Website</th>
        <th>Difficulty</th>
        <th>Schedule</th>
        <th>Score</th>
        <th>Id User</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ride of rides; let index = index;">
        <td>
            {{ride.id}}
        </td>
        <td>
            {{ride.nameRide}}
        </td>
        <td>
            {{ride.place}}
        </td>
        <td>
            {{ride.description}}
        </td>
        <td>
            {{ride.website}}
        </td>
        <td>
            {{ride.difficulty}}
        </td>
        <td>
            {{ride.schedule}}
        </td>
        <td>
            {{ride.score}}
        </td>
        <td>
            {{ride.idUser}}
        </td>
        <td>
            <button (click)="delete(ride, index)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>