<div class="content">
  <div>
      <img src="assets/userIcon.png" alt="image"/>
      <div class="user-name" >Nom user </div>
  </div>
  <div>
      <p>
          Adresse mail : <input matInput value="mail" disabled>
          <button mat-fab color="primary" class="add_button">
              <mat-icon>edit</mat-icon>
          </button>
      </p>

      <p>
          Mot de passe : <input matInput value="mdp" disabled>
          <button mat-fab color="primary" class="add_button">
              <mat-icon>edit</mat-icon>
          </button>
      </p>
  </div>
  <mat-divider></mat-divider>
  <div>
      Chien :
      <p>Ici quand on click sur une carte de chien un form pour update apparait ( pas obligatoire)</p>

  </div>
</div>
