<div>
    <img src="assets/userIcon.png" alt="image"/>
    <mat-card style="background-color: #e1bee7" >Nom user </mat-card>
</div>
<div>
    <p>
        Adresse mail : <input matInput value="mail" disabled>
        <button mat-fab color="primary" class="add_button">
            <mat-icon>edit</mat-icon>
        </button>
    </p>

    <p>
        Mot de passe : <input matInput value="mdp" disabled>
        <button mat-fab color="primary" class="add_button">
            <mat-icon>edit</mat-icon>
        </button>
    </p>
</div>
<mat-divider></mat-divider>
<div>
    Chien :
    <p>Ici quand on click sur une carte de chien un form pour update apparait ( pas obligatoire)</p>

</div>
