<h2>La liste des commentaires</h2>
<div *ngIf="comments">

        <tbody>
        <tr *ngFor="let comment of comments; let index = index;">
            <td>
                {{comment.id}}
            </td>
            <td>
                {{comment.content}}
            </td>
            <td>
                {{comment.score}}
            </td>
            <td>
                {{comment.difficulty}}
            </td>
            <td>
                {{comment.idUser}}
            </td>
            <td>
                {{comment.idRide}}
            </td>
            <td>
                <button (click)="delete(comment, index)">Delete</button>
            </td>
            <td>
                <button (click)="update(comment)">Modify</button>
            </td>
        </tr>
        </tbody>

</div>
